# Target-specific settings for musl builds (production)
[target.x86_64-unknown-linux-musl]
rustflags = [
  "-C",
  "link-arg=-fuse-ld=mold",
  "-C",
  "link-arg=-fdebug-types-section",
  "--cfg=web_sys_unstable_apis",
]

# Settings for native GNU Linux (host builds, proc-macros, etc.)
[target.x86_64-unknown-linux-gnu]
rustflags = ["--cfg=web_sys_unstable_apis"]

# Settings for WebAssembly targets
[target.wasm32-unknown-unknown]
rustflags = ["--cfg=web_sys_unstable_apis"]

[profile.dev]
debug = 1 # Reduce debug info size

[target.aarch64-apple-darwin]
rustflags = [
  "-C",
  "link-arg=-undefined",
  "-C",
  "link-arg=dynamic_lookup",
  "-C",
  "link-arg=-fuse-ld=lld",
]
